.skip-links {
  grid-area: 1;
  grid-column: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none;
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000;
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

/* .skip-links a {
  grid-area: none;
  position: absolute;
  top: -10px;
  z-index: -100;
  background-color: #000;
  color: #fff;
  display: none;
}

.skip-links a:focus {
  top:0;
  outline-color: #fff;
  display: inline-block;
} */

nav a:focus {
  outline: .2rem solid #000;
  outline-offset: .1rem;
}

nav a:hover,
nav a:focus,
.nav-label:hover,
.nav-label:focus {
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.5);
}

.tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tip .tiptext {
  visibility: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.tip:hover .tiptext {
  visibility: visible;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #000;
  outline-offset: 0;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
}

/* stylelint-disable media-feature-name-no-unknown */

@media (prefers-reduced-motion: reduced) {

  img {
    animation: none;
  }

  .hero-banner-S, .hero-banner-L {
    transition: none;
  }

  .banner {
    transition: none;
  }

  main ul li {
    transition: none;
  }

}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #222;
  }

  html {
    color: #FAF7F4;
  }

}

@media (prefers-contrast: more) {

  h1, h2, h3, h4, a, p  {
    font-weight: bold;
  }

}

/* stylelint-enable */
