@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #faf7f4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

hr {
  /* border-color: #999; */
  box-sizing: content-box;
  height: 0;
  margin: 3.8125rem 1.2rem;
  border: 0;
  border-top: 1px solid #999;
}

/* ------------------------------------------Grid/Document Wide Section------------------------------------------ */

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    /* "social"
    "email" */
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 3.5em;
}

header {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "hero-banner hero-banner hero-banner";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 720px;
  width: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 32%;
}

/* ------------------------------------------Banner Section------------------------------------------ */

.hero-banner {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: center;
  align-content: center;
  min-width: 350px;
  width: auto;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
  left: 50%;
  margin: 0;
  padding: 0;
  min-height: 750px;
  max-height: 750px;
  overflow: hidden;
  filter: grayscale(100%);
  transition: all .2s linear;

}

.banner {
  grid-area: banner;
  z-index: 100;
  grid-column: 1 / span 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0;
  padding: 10px 25px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
}

.banner h3 {
  transition: all .2s linear;
}

.banner:hover h3,
.banner:focus h3 {
  bottom: 0;
  font-size: 1.5rem;
}

.hero-banner:hover,
.hero-banner:focus {
  filter: grayscale(0);

  /* transform: scaleY(1.5); */
}

h2 {
  padding: 0 0 1rem;
}

/* ------------------------------------------Main Section------------------------------------------ */

h4 {
  grid-area: welcome;
  grid-column: 1 / -1;
  grid-row: 1;
}

.im {
  font-size: .55em;
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
}



main {
  grid-area: main;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0 1.5rem;
  grid-row-gap: 1.5rem;
}

p {
  grid-column: 1 / -1;
  grid-row: 1 / span -1;
  /* padding-bottom: 1.2rem; */
  align-self: baseline;
}

/* ------------------------------------------Featured Work Section------------------------------------------ */

/* .highlight {
  grid-column: 1 / -1;
  grid-row: 4 / span 2;
  text-align: center;
  padding: 3rem 0 0;
} */

.featuredwork {
  grid-column: 1;
  grid-row: 3;
  display: inline;
  width: 100%;
  }

}

.movefeatureimgs {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
}

.hidden1, .hidden2, .hidden3 {
  display: none;
}

.socialheader {
  grid-row: 5;
}

.flex-2 {
  grid-row: 6;
}

/* ------------------------------------------Social Media Section------------------------------------------ */

.social {
  max-width: 150px;
  padding: 0 .25em;
}

section {
  grid-area: social;
  grid-column: 1;
  grid-row: 5;
  padding: 0 1.5rem;
  margin: 0;
}

section ul {
  /* flex-direction: row;
  flex-wrap: nowrap; */
  padding: 0;
  margin: 0;
}

.social-small, .hidetext {
  display: none;
  padding: 0 1.5rem;
}

.hidetext {
  grid-area: social;
  grid-column: 1;
  grid-row: 3;
}

.label {
  text-align: center;
}

/* ------------------------------------------Contact Form Section------------------------------------------ */

aside {
  grid-area: email;
  grid-column: 1 / -1;
  grid-row: 7;
}

fieldset {
  padding: 0 12px;
  margin: 0 24px;
  border: none;
}

legend {
  padding: 0 0 10px;
  font-size: 1em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* .form-space {
  margin: 0;
  padding: 0 0 10px;
} */

.note {
  width: 100%;
}

/* ------------------------------------------Footer Section------------------------------------------ */

footer {
  grid-area: footer;
  grid-column: 1 / -1;
  grid-row: 3;
}

footer ul li {
  display: inline-block;
  padding: 0;
  justify-content: space-between;
  text-align: center;
}

/* ------------------------------------------Button Section------------------------------------------ */

button,
.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: .375em .75em .42em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #333;
  border-radius: 4px;
  border: 3px solid #333;
  color: #fff;
  font: inherit;
  text-decoration: none;
  text-transform: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* stylelint-enable */

button:focus,
button:hover,
.btn:focus,
.btn:hover {
  background-color: rgba(102, 153, 127, 0.4); #e2e2e2;;
  border-color: #000;
  color: #fff;
  transition: opacity .3s ease-in;
  transition-delay: 1s;
}

button[disabled] {
  cursor: default;
}

.btn-ghost {
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  font-size: .75rem;
  border-color: rgb(25, 76, 51);
  color: #000;
}

.btn-ghost:focus,
.btn-ghost:hover,{
  background-color: rgba(102, 153, 127, 0.4); #e2e2e2;
  border-color: #000;
  color: #000;
}

.btn-link {
  display: inline;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  color: inherit;
}

.btn-link:focus,
.btn-link:hover {
  background-color: transparent;
  color: inherit;
}

a:hover, a:active {
  outline: none;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #000;
  outline-offset: 0;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
}

/* ------------------------------------------Animation/Transition Section------------------------------------------ */




/* ------------------------------------------Media Queries Section------------------------------------------ */

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
  }

  h1 {
    line-height: 1.1;
  }

  /* .flex {
  display: flex;
  } */

  .flex ul {
    display: grid;
    grid-template-areas:
      "first first"
      "second second";
  }

  .flex li {
    display: inline-block;
  }

  .hidden1 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .hidden2 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  /* .flex-2 {
  display: block;
  width: 100%;
  } */

  .flex {
    width: 100%;
  }

  .flex li {
    display: inline-block;
    width: 25%;
  }

  /* .social {
    display: block;
    width: 100%;
  } */

}

@media only screen and (min-width: 60em) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .moveSH1 {
    grid-column: 1 / -1;
    grid-row: 1;
    vertical-align: top;
  }

  .move2column {
    grid-column: 2 / -1;
    grid-row: 1;
  }

  .featuredwork {
    grid-column: 1 / -1;
    grid-row: 2;
    vertical-align: top;
  }

  .movefeatureimgs {
    grid-column: 2 / -1;
    grid-row: 2;
  }

  .hero-banner {
    width: 100%;
  }

  .hidetext {
    display: block;
  }

    .social-box {
      display: none;
    }

    .social-small {
      display: inline-block;
      padding: 0;
      margin: 0;
      max-width: 50px;
    }

    fieldset {
      /* display: flex;
      justify-content: center;
      height: 200px; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 1.5rem;
    }

    .form-space1 {
      grid-column: 1;
      grid-row: 1;
    }

    .form-space2 {
      grid-column: 2;
      grid-row: 1;
    }

  .email-button {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 140%;
    line-height: 1.4;
  }

  /* p {
  font-size: 2rem;
  } */

  .flex {
    width: 100%;
  }

  .flex li {
    width: 20%;
  }

  .hidden3 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .moveSH1 {
    grid-column: 2 / span 2;
  }

  .move2column {
    grid-row: 2;
    grid-column: 2 / span 2;
  }

  .featuredwork {
    grid-column: 2;
    grid-row: 3;
    vertical-align: top;
  }

  .movefeatureimgs {
    grid-column: 2 / -1;
    grid-row: 4;
  }


}
