@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #faf7f4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

hr {
  /* border-color: #999; */
  box-sizing: content-box;
  height: 0;
  margin: 3.8125rem 1.2rem;
  border: 0;
  border-top: 1px solid #999;
}

/* ------------------------------------------Grid/Document Wide Section------------------------------------------ */

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 3.5em;
}

header {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "hero-banner hero-banner hero-banner";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 720px;
  width: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}


/* ------------------------------------------Banner Section------------------------------------------ */

.hero-banner {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: center;
  align-content: center;
  min-width: 350px;
  width: auto;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
  left: 50%;
  margin: 0;
  padding: 0;
  min-height: 750px;
  max-height: 750px;
  overflow: hidden;
  filter: grayscale(100%);
  transition: all .2s linear;
}

.banner {
  grid-area: banner;
  z-index: 100;
  grid-column: 1 / span 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0;
  padding: 10px 25px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
}

.banner h3 {
  transition: all .2s linear;
}

.banner:hover h3,
.banner:focus h3 {
  bottom: 0;
  font-size: 1.5rem;
}

.hero-banner:hover,
.hero-banner:focus {
  filter: grayscale(0);

  /* transform: scaleY(1.5); */
}

h2 {
  padding: 0 0 1rem;
}

/* ------------------------------------------Main Section------------------------------------------ */

h4 {
  grid-area: welcome;
  grid-column: 1 / -1;
  grid-row: 1;
}

.seemoregrid {
  /* grid-row: 4; */
  display: grid;
  grid-template-rows: auto;
}

.seemoregrid {
  grid-row: 6;
  grid-column: 1 / 3 span
}

.gallery-seemore {
  grid-row: 8;
  display: none;
}

.seemore-check:checked ~ .gallery-seemore {
  display: block;
  grid-row: 5;
}

.seemore-check {
  position: absolute;
  display: none;
  right: -3em;
  grid-row: 1;
}

.seemore-check:checked ~ .seemore-label {
  grid-row: 1 / span 3;
}

label {
  padding-bottom: 2rem;
}
/*  ------------------------------------ Gallary ------------------------------ */

/* .seemore-check:checked ~ .galleryh4-3 {
display: block;
grid-row: 5;
} */
.galleryh3-1 {
  padding-bottom: 2rem;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.galleryh4-1 {
  grid-row: 2;
  grid-column: 1;
}
.galleryh4-1b {
  grid-row: 3;
  grid-column: 1;
}

.galleryh4-2 {
  grid-row: 4;
}

.galleryh4-2b {
  grid-row: 5;
  grid-column: 1;
}

.galleryh4-3 {
  grid-row: 6;
  display: block;
}

.galleryh4-4 {
  grid-row: 8;
  display: block;
}

.galleryh4-5 {
  grid-row: 10;
  display: block;
}

.hide1, .hide2 {
  display: none;
}

.im {
  font-size: .55em;
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
}

main {
  grid-area: main;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0 1.5rem;
  grid-row-gap: 1.5rem;
}

p {
  grid-column: 1 / -1;
  grid-row: 1 / span -1;

  /* padding-bottom: 1.2rem; */
  align-self: baseline;
}

/* ------------------------------------------Featured Work Section------------------------------------------ */

.featuredwork {
  grid-column: 1;
  grid-row: 3;
  display: inline;

  /* width: 100%; */
}

.movefeatureimgs {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
}

.hidden1, .hidden2, .hidden3 {
  display: none;
}

.socialheader {
  grid-row: 5;
}

.flex-2 {
  grid-row: 6;
}

/* ------------------------------------------Social Media Section------------------------------------------ */

/* .social {
  max-width: 150px;
  padding: 0 .25em;
} */

.social-section {
  grid-area: social;
  grid-column: 1;
  grid-row: 5;
  padding: 0;
  margin: 0;
}

.wantmore {
  grid-row: 6;
  grid-column: 1;
}

section ul {
  /* flex-direction: row;
  flex-wrap: nowrap; */
  padding: 0;
  margin: 0;
}

.social-small, .hidetext {
  display: none;
  padding: 0 1.5rem;
}

.hidetext {
  grid-area: social;
  grid-column: 1 / span 2;
  grid-row: 4;
  padding: 0;
  margin: 0;
}

.label {
  text-align: center;
}

/* ------------------------------------------Contact Form Section------------------------------------------ */

aside {
  grid-area: email;
  grid-row: 7;
  grid-column: 1;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  padding: 0 0 1rem;
  font-size: 1em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* .form-space {
margin: 0;
padding: 0 0 10px;
} */

.note {
  width: 100%;
}

/* ------------------------------------------Footer Section------------------------------------------ */

footer {
  grid-area: footer;
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-areas: 1fr 1fr;
  align-items: end;
}

footer ul li {
  display: inline-block;
  padding: 0;
  width: auto;
  justify-content: space-between;
  text-align: center;
}

.footer-nav {
  grid-column: 2;
  grid-row: 1;
}
/* ------------------------------------------Button Section------------------------------------------ */

.gallery-button {
  background-color: #eee;
  display: inline-block;
  padding: 15px 23px 20px 20px;
  border-width: medium;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

button,
.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: .375em .75em .42em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #333;
  border-radius: 4px;
  border: 3px solid #333;
  color: #fff;
  font: inherit;
  text-decoration: none;
  text-transform: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:focus,
button:hover,
.btn:focus,
.btn:hover {
  background-color: rgba(102, 153, 127, .4);
  border-color: #000;
  color: #fff;
  transition: opacity .3s ease-in;
  transition-delay: 1s;
}

button[disabled] {
  cursor: default;
}

.btn-ghost {
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  font-size: .75rem;
  border-color: rgb(25, 76, 51);
  color: #000;
}

.btn-ghost:focus,
.btn-ghost:hover {
  background-color: rgba(102, 153, 127, .4);
  border-color: #000;
  color: #000;
}

.btn-link {
  display: inline;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  color: inherit;
}

.btn-link:focus,
.btn-link:hover {
  background-color: transparent;
  color: inherit;
}

a:hover, a:active {
  outline: none;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #000;
  outline-offset: 0;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
}

/* ------------------------------------------Animation/Transition Section------------------------------------------ */

/* ------------------------------------------Media Queries Section------------------------------------------ */

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
  }

  h1 {
    line-height: 1.1;
  }

  .hidden1 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  main {
    column-gap: 3rem;
  }
  .galleryh4-1 {
    grid-row: 2;
    grid-column: 1;
  }
  .galleryh4-1b {
    grid-row: 2;
    grid-column: 3;
    text-align: right;
  }

  .galleryh4-2 {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .galleryh4-2b {
    grid-row: 3;
    grid-column: 3;
    text-align: right;
  }

.social-section {
  grid-row: 3;
}

.wantmore {
  grid-row: 5;
}

.email {
  grid-row: 6;
}
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  /* .flex-2 {
  display: block;
  width: 100%;
  } */

  .flex {
    width: 100%;
  }

  .flex li {
    display: inline-block;
    width: 25%;
  }

  main ul li {
    width: 30%;
  }

  .hide1 {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .movesh1 {
    grid-column: 1 / -1;
    grid-row: 1;
    vertical-align: top;
  }

  .move2column {
    grid-column: 2 / -1;
    grid-row: 1;
  }

  .tablemove {
    grid-column: 1/-1;
    grid-row: 3;
  }

  .featuredwork {
    grid-column: 1 / -1;
    grid-row: 2;
    vertical-align: top;
  }

  .movefeatureimgs {
    grid-column: 2 / -1;
    grid-row: 2;
  }

  .hero-banner {
    width: 100%;
  }

  .hidetext {
    display: block;

    /* grid-row: 1 / span 2;
    grid-row: 6; */
  }

  .hidden2 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  .social-box {
    display: none;
  }

  .social-small {
    display: inline-block;
    padding: 0;
    margin: 0;
    max-width: 50px;
  }

/*   fieldset {
    display: flex;
    justify-content: center;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }*/

  .form-space1 {
    grid-column: 1;
    grid-row: 1;
  }

  .form-space2 {
    grid-column: 2;
    grid-row: 1;
  }

  .email-button {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }

  /* main ul li {
    width: 32%;
  } */

  .galleryh4-1 {
    grid-row: 2;
    grid-column: 1;
  }
  .galleryh4-1b {
    grid-row: 3;
    grid-column: 1 / span 3;
    text-align: left;
  }

  .galleryh4-2 {
    grid-row: 4;
  }

  .galleryh4-2b {
    grid-row: 5;
    grid-column: 1 / span 3;
    text-align: left;
  }

  main ul li {
    width: 20%;
  }

  .hide2 {
    display: inline-block;
  }

  /* .galleryh4-3 {
    grid-row: 7;
    grid-column: 1;
    display: block;
  }

  .galleryh4-4 {
    grid-row: 8;
    display: block;
  }

  .galleryh4-5 {
    grid-row: 10;
    display: block;
  } */

  /* .seemoregrid {
    grid-template-columns: 1fr 1fr;
  } */

  .gallery-seemore ul:first-child {
    vertical-align: middle;
  }

  .tablemove {
    justify-self: center;
    max-width: 1400px

  }

}

@media only screen and (min-width: 90em) {

  /* html {
    font-size: 140%;
    line-height: 1.4;
  } */

  /* p {
  font-size: 2rem;
  } */

  .flex {
    width: 100%;
  }

  .flex li {
    width: 20%;
  }

  .hidden3 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .movesh1 {
    grid-column: 1 / span 2;
  }

  .move2column {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .featuredwork {
    grid-column: 1;
    grid-row: 3;
    vertical-align: top;
  }

  .movefeatureimgs {
    grid-column: 2 / span 2;
    grid-row: 4;
  }

  main ul li {
    width: 45%;
  }

  .galleryh4-1b {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .galleryh4-2 {
    grid-row: 3;
  }

  .galleryh4-2b {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .galleryh4-2b ul li {
    width: 32%;
  }

  .gallery-seemore {
    grid-row: 5;
    display: block;
  }

  .seemore-label {
    display: none;
  }

}
