@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #faf7f4;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.logotop {
  display: inline-flex;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 100;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.75);
  border-style: outset;
}

hr {
  /* border-color: #999; */
  box-sizing: content-box;
  height: 0;
  margin: 3.8125rem 1.2rem;
  border: 0;
  border-top: 1px solid #999;
}

/* ------------------------------------------Grid/Document Wide Section------------------------------------------ */

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  /* background-color: #000; */
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 3.5em;
}

header {
  grid-area: header;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "hero-banner hero-banner hero-banner";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* ------------------------------------------Banner Section------------------------------------------ */

.hero-banner-S {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: center;
  align-content: center;
  min-width: 350px;
  /* width: auto;
  height: 100%; */
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateX(-50%);
  left: 50%;
  margin: 0;
  padding: 0;
  min-height: 750px;
  /* max-height: 750px; */
  overflow: hidden;
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hero-banner-L {
  display: none;
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: center;
  align-content: center;
  min-width: 350px;
  width: auto;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
  left: 50%;
  margin: 0;
  padding: 0;
  min-height: 750px;
  max-height: 750px;
  overflow: hidden;
  filter: grayscale(100%);
  transition: all .2s linear;
}

.banner {
  grid-area: banner;
  z-index: 100;
  grid-column: 1 / span 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0;
  padding: 10px 25px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
}

.banner h3 {
  transition: all .2s linear;
}

.banner:hover h3,
.banner:focus h3 {
  bottom: 0;
  font-size: 1.5rem;
}

.hero-banner-S:hover,
.hero-banner-S:focus {
  filter: grayscale(0);
}

.hero-banner-L:hover,
.hero-banner-L:focus {
  filter: grayscale(0);
}

h2 {
  padding: 0 0 1rem;
}

/* ------------------------------------------Main Section------------------------------------------ */

h4 {
  grid-area: welcome;
  grid-column: 1 / -1;
  grid-row: 1;
}

.seemoregrid {
  /* grid-row: 4; */
  grid-column: 1 / 3 span;
  display: grid;
  grid-template-rows: auto;
}

.gallery-seemore {
  grid-row: 8;
  display: none;
}

.seemore-check:checked ~ .gallery-seemore {
  display: block;
  grid-row: 5;
}

.seemore-check {
  position: absolute;
  display: none;
  right: -3em;
  grid-row: 1;
}

.seemore-check:checked ~ .seemore-label {
  grid-row: 1 / span 3;
  padding-bottom: 3rem;
}

label {
  padding-bottom: 2rem;
}

.move2column {
  padding-bottom: 4rem;
}

/*  ------------------------------------ Gallary ------------------------------ */

.galleryh3-1 {
  padding-bottom: 2rem;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.galleryh4-1 {
  grid-row: 2;
  grid-column: 1;
}

.galleryh4-1b {
  grid-row: 3;
  grid-column: 1;
}

.galleryh4-2 {
  grid-row: 4;
}

.galleryh4-2b {
  grid-row: 5;
  grid-column: 1;
}

.galleryh4-3 {
  grid-row: 6;
  display: block;
}

.galleryh4-4 {
  grid-row: 8;
  display: block;
}

.galleryh4-5 {
  grid-row: 10;
  display: block;
}

.hide1, .hide2, .hide3 {
  display: none;
}

.im {
  font-size: .55em;
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
}

main {
  grid-area: main;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0 1.5rem;
  grid-row-gap: 3rem;
}

p {
  grid-column: 1 / -1;
  grid-row: 1 / span -1;

  /* padding-bottom: 1.2rem; */
  align-self: baseline;
}

/* ------------------------------------------Featured Work Section------------------------------------------ */

.featuredwork {
  grid-column: 1;
  grid-row: 3;
  display: inline;

  /* width: 100%; */
}

.movefeatureimgs {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
}

.caption {
  font-size: .75rem;
  padding-bottom: 2rem;
}

.hidden1, .hidden2, .hidden3 {
  display: none;
}

.socialheader {
  grid-row: 5;
}

/* ------------------------------------------Social Media Section------------------------------------------ */

.social-section {
  grid-area: social;
  grid-column: 1;
  grid-row: 5;
  padding: 0;
  margin: 0;
  text-align: center;
}

.wantmore {
  grid-row: 6;
  grid-column: 1;
}

section ul {
  /* flex-direction: row;
  flex-wrap: nowrap; */
  padding: 0;
  margin: 0;
}

.social-small, .hidetext {
  display: none;
  padding: 0 1.5rem;
}

.hidetext {
  grid-area: social;
  grid-column: 1 / span 2;
  grid-row: 4;
  padding: 0;
  margin: 0;
}

.label {
  text-align: center;
}

/* ------------------------------------------Contact Form Section------------------------------------------ */

aside {
  grid-area: email;
  grid-row: 7;
  grid-column: 1;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  padding: 0 0 1rem;
  font-size: 1em;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.note {
  width: 100%;
}

.tablemove {
  padding-bottom: 3rem;
  grid-column: ;
  grid-row:
}

/* ------------------------------------------Footer Section------------------------------------------ */

footer {
  grid-area: footer;
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.footer-social {
  display: none;
  grid-column: 2;
  justify-self: end;
  padding-right: 1rem;
}

.footer-social li a img {
  width: 50%;
  background-color: #faf7f4;
}

.social-small {
  border-style: none;
}

/* .logosmall {
  width: 50px;
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
} */

/* ------------------------------------------Button Section------------------------------------------ */

.gallery-button {
  background-color: #eee;
  display: block;
  padding: 15px 23px 20px 20px;
  border-width: medium;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border-style: outset;
}

.gallery-button:hover {
  background-color: #333;
  color: #fff;
}

.gallery-button:focus {
  background-color: #333;
  color: #fff;
}

.gallery-button:active,
::after {
  background-color: #333;
  color: #fff;
  border-style: inset;
}

/* ------------------------------------------Animation/Transition/SVG Section------------------------------------------ */

.hero-banner-S img {
  filter: grayscale(100%);
  transition: all .2s linear 5s;
}
.hero-banner-S img:hover {
  filter: grayscale(0);
}

.hero-banner-L img {
  filter: grayscale(100%);
  transition: all .2s linear 5s;
}
.hero-banner-L img:hover {
  filter: grayscale(0);
}

main ul li {
filter:grayscale(1);
width: 100%;
}

main ul li:hover {
filter:grayscale(0);
}

.spin:hover {
  animation: spin 5s linear infinite;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.breath:hover, .breath:active {
  animation: breath 1s linear;
}

@keyframes breath {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

}

.arrowrow div {
  display: inline-block;
}

div .point {
  display: inline-block;
}

.point {
  animation: point .5s linear infinite;
}

.point:hover #arrow {
  /* animation: arrow .5s linear infinite; */
  transform: translateY(70%);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#arrow {
  transform: translateY(0);
  transition: all .5s linear;
  animation-iteration-count: infinite;
}

@keyframes arrow {

  0% {
    transform:translateY(0);
  }

  50% {
    transform:translateY(70%);
  }

  100% {
    transform:translateY(0);
  }


}

/* ------------------------------------------About Me------------------------------------------ */

.hidetable {
  display: none;
}

.gloat {
  grid-row: 3;
}

.gloatpara {
  grid-row: 4;
  padding-bottom: 3rem;
}

.resume {
  grid-row: 5;
  grid-column: 1;
}
/* ------------------------------------------Media Queries Section------------------------------------------ */

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
  }

  .logotop {
    width: 38px;
    height: 38px;
  }

  h1 {
    line-height: 1.1;
  }

  .hidden1 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  main {
    column-gap: 3rem;
  }

  main ul li {
    width: 45%;
  }

  .galleryh4-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .galleryh4-1b {
    grid-row: 2;
    grid-column: 3;
    text-align: right;
  }

  .galleryh4-2 {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  .galleryh4-2b {
    grid-row: 3;
    grid-column: 3;
    text-align: right;
  }

  .galleryh4-3 {
    grid-row: 5;
    grid-column: 1 / span 2;
    padding-bottom: 3rem;
  }

  .galleryh4-3b {
    grid-row: 5;
    grid-column: 2;
    text-align: right;
    padding-bottom: 3rem;
  }
  .galleryh4-4 {
    grid-row: 6;
    grid-column: 1 / span 2;
    padding-bottom: 3rem;
  }

  .galleryh4-4b {
    grid-row: 6;
    grid-column: 2;
    text-align: right;
    padding-bottom: 3rem;
  }
  .galleryh4-5 {
    grid-row: 7;
    grid-column: 1 / span 2;
    padding-bottom: 3rem;
  }

  .galleryh4-5b {
    grid-row: 7;
    grid-column: 2;
    text-align: right;
    padding-bottom: 3rem;
  }

  .footer-social {
    display: inline-block;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .hero-banner-S {
    max-height: 750px;
  }

  .logotop {
    width: 40px;
    height: 40px;
  }

  main ul li {
    width: 33%;
  }

  .hide1 {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  .hero-banner-S {
    display: none;
  }

  .hero-banner-L {
    display: block;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  main ul li {
    width: 24%;
  }

  .movesh1 {
    grid-column: 1 / -1;
    grid-row: 1;
    vertical-align: top;
  }

  .move2column {
    grid-column: 2 / span 2;
    grid-row: 1/ span 2;
    column-count: 3;
    column-gap: 40px;
    column-width: 300px;
  }

  .hidetable {
    display: block;
  }

  .hide {
    display: none;
  }

  .resume1 {
    grid-row: 7;
  }

  .tablemove {
    grid-column: 1/-1;
    grid-row: 5;
    max-width: 1400px;
  }

  .gloat {
    grid-row: 3;
  }

  caption, tr, td, th {
    text-align: left;
  }

  .nobold {
    font-weight: normal;
  }

  .span {
    colspan: 0;
  }
  .featuredwork {
    grid-column: 1 / -1;
    grid-row: 3;
    vertical-align: top;
  }

  .movefeatureimgs {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .hero-banner-S {
    width: 100%;
  }

  .hero-banner-L {
    width: 100%;
  }

  .hidden2 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  .social-box {
    display: none;
  }

  .social-small {
    display: inline-block;
    padding: 0;
    margin: 0;
    max-width: 50px;
  }

  .form-space1 {
    grid-column: 1;
    grid-row: 1;
  }

  .form-space2 {
    grid-column: 2;
    grid-row: 1;
  }

  .email-button {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }

  .galleryh4-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .galleryh4-1b {
    grid-row: 3;
    grid-column: 1 / span 3;
    text-align: left;
  }

  .galleryh4-2 {
    grid-row: 4;
  }

  .galleryh4-2b {
    grid-row: 5;
    grid-column: 1 / span 3;
    text-align: left;
  }

  .hide2 {
    display: inline-block;
  }

  .gallery-seemore ul:first-child {
    vertical-align: middle;
  }

  .social-section {
    grid-row: 3;
  }

  .hidetext {
    display: block;
    grid-row: 5;
    grid-column: 1;
  }

  .hidetext p {
    hyphens: none;
  }

  .wantmore {
    grid-row: 5;
    grid-column: 2 / span 2;
    text-align: center;
  }

  .email {
    grid-row: 6;
    grid-column: 1;
  }

}

 @media only screen and (min-width: 70em) {

   .gloatpara {
     grid-row: 3;
     grid-column: 2 / span 2;
   }

}

@media only screen and (min-width: 90em) {
  /*
  html {
    font-size: 140%;
    line-height: 1.4;
  }
  */

  .hero-banner-L {
    display: block;
  }

  .hidden3 {
    grid-column: 2 / -1;
    grid-row: 1;
    display: inline-block;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .movesh1 {
    grid-column: 1 / span 2;
  }

  .move2column {
    grid-row: 1;
    grid-column: 2 / span 2;
  }

  .featuredwork {
    grid-column: 1;
    grid-row: 3;
    vertical-align: top;
  }

  .movefeatureimgs {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .email {
    grid-column: 1;
    grid-row: 6;
  }

  main ul li {
    width: 24%;
  }

  .galleryh4-1b {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .galleryh4-2 {
    grid-row: 3;
  }

  .galleryh4-2b {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .galleryh4-2b ul li {
    width: 32%;
  }

  .gallery-seemore {
    grid-row: 5;
    display: block;
  }

  .seemore-label {
    display: none;
  }

}
