
nav {
  margin: 0;
  padding: 0;
  z-index: 100;
}

.nav {
  list-style-type: none;
  display: none;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  z-index: 100;
}

.nav a {
  display: block;
  padding: 5px;
  margin: 0 .1em;
  text-decoration: none;
  border-style: inset;
  color: #000;
  background-color: #faf7f4;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #333;
  color: #faf7f4;
}

.nav a:focus {
  background-color: #333;
  color: #faf7f4;
}

.nav a:active,
::after {
  background-color: #333;
  color: #faf7f4;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: inline-flex;
  position: absolute;
  top: 25px;
  right: 60px;
}

.nav-label {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  display: inline-block;
  top: 27px;
  right: 25px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}

.nav-open {
 border-style: outset;
}

.nav-close {
 display: none;
 border-style: inset;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
  box-shadow: outset -3px -3px 4px 0px rgba(0,0,0,0.5);
}

.nav ul li a {
background-color: #faf7f4;
}


.accnav {
  position: absolute;
  top: 30px;
  right: 70px;
  display: none;
  z-index: 5;
}

.accnav ul li a:hover {
  border-style: inset;
  border-color: #faf7f4;
  padding: 0 5px;

}

/* ACCNAV IS SOLEY FOR MARKBOT PASS. VISIBLE NAV IS ACTUAL NAVIGATION FOR PAGE */

.footer-nav {
  grid-column: 1;
  grid-row: 1;
  padding-left: 1rem;
  padding-bottom: .25rem;
}

.footer-nav li a {
  font-size: .8rem;
  text-decoration: none;
  color: #000;
}

footer ul li {
  display: inline-block;
  padding: 0;
  border: 2pt #000 solid;
  border-radius: 5px;
  background-color: #faf7f4;
  padding: 0 5px 3px;
}


@media only screen and (min-width: 25em) {

  .nav-label {
    width: 38px;
    height: 38px;
}
}

@media only screen and (min-width: 38em) {

  .nav-label {
    width: 40px;
    height: 40px;
}
}

@media only screen and (min-width: 60em) {

  .nav {
    right: 100px;
    top: 45px;
    /* font-size: 1.5rem; */
  }

  .nav-check:checked ~ .nav {
    right: 100px;
    top: 22px;
  }

}

@media only screen and (min-width: 90em) {

  .nav {
    right: 100px;
    top: 45px;
  }

  .nav-check:checked ~ .nav {
    right: 100px;
    top: 25px;
  }

}
