html {
  font-family: Lora, 'Times New Roman', serif;
  font-size: .875em;
  line-height: 1.1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

h3, h4 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 3.052rem;
  text-transform: uppercase;
}

h2 {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
  margin: 0;
  /* padding: 0 0 1.5rem; */
  font-size: 1.25rem;
  text-transform: uppercase;
}

.social-small, .hidetext {
  font-family: Montserrat, Arial, san-serif;
  text-transform: uppercase;
}

/* ------------------------------------------Paragraph Section------------------------------------------ */

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  margin: 0;
  padding: 0;
}

.drop-cap {
  position: relative;
  float: left;
  font-size: 2.75em;
  margin: -.025em -.5em -.3em -.6em;
  padding: 0 .6em;
  top: -.15em;
}

.indent {
  text-indent: 14px;
}

.tip, .tiptext {
    font-size: .5rem;
}

@media only screen and (min-width: 25em) {

@media only screen and (min-width: 38em) {
.tip, .tiptext {
  font-size: .75em;
}

@media only screen and (min-width: 60em) {
.tip, .tiptext {
  font-size: 1em;
}

@media only screen and (min-width: 90em) {
.tip, .tiptext {
  font-size: 1.1em;
}
}
